.container
	a.logo(href='/')
		img(src='/static/img/fig-icon.png')
		| Fig.js
	.items
		a(href='/docs/guide') Guide
		a(href='/docs/api') API
		a(href='https://github.com/nikersify/fig') GitHub
		a(href='https://nikerino.com') Nikerino

