.__example
	.file
		.name app.js
		script(type='x-example').
			const fig = require('figjs')
			const app = fig()

			app.use(require('./Component.fig'))

			app.on('button click', time => {
				alert(`clicked the button at ${time}s!`)
			})

			app.mount('#app', 'component')
	.file
		.name Component.fig
		script(type='x-example').
			template
				button(@click = clicked) Click me!

			script.
				export default (view, opts, emit) => {
					view.clicked = e => {
						const time = (e.timeStamp / 1000).toFixed(2)
						emit('button click', time)
					}
				}
