.__example
	.file
		.name app.js
		script(type='x-example').
			const fig = require('figjs')
			const app = fig()

			app.use(require('./Component.fig'))

			app.state = {
				clicks: []
			}

			app.on('clicks add', time => {
				app.state.clicks.push(time)
			})

			app.on('clicks clear', () => {
				app.state.clicks.splice(0)
			})

			app.mount('#app', 'component')
	.file
		.name Component.fig
		script(type='x-example').
			template
				button(@click = clickAdd) Click me!
				button(@click = clickClear) Clear!
				ul
					each c in clicks
						li clicked at \#{c}s!

			script.
				export default (view, opts, emit) => {
					view.clicks = opts.clicks

					view.clickAdd = e => {
						const time = (e.timeStamp / 1000).toFixed(2)
						emit('clicks add', time)
					}

					view.clickClear = e => {
						emit('clicks clear')
					}
				}
