extends ../docs-base

block doc
	h1 Prologue
	blockquote hi?
	p.
		Hello! Thank you for checking out the docs of fig.js - the JavaScript UI
		framework which is going to solve all of your life's problems!
	blockquote another crappy js framework, yea right go on
	p.
		Hey there, no need to be rude! You didn't even have the chance to
		hear about its beautiful integrated pug templates, well separated
		component definitions, clean and simple to understand API, verbose debug
		messages, the ability to interface with other libraries with just one
		simple stateme...
	blockquote wait a minute, did you mention pug templates? i like pug templates
	p.
		Yes! This was actually the main goal of this project - to bring pug.js
		into the amazing world of dynamic client-side views, updated with models
		which are manipulated by controllers. An MVC pattern, you could call it!
	blockquote
		| isn't pug like a bulky server-side library though? how come is fig
		| just 5kB in size?
	p.
		Great question! In order for us to use pug without exploding the
		distribution size, some trade offs had to have been made. To build
		an app with fig you will need to use some external tooling, but that's
		all explained in the next section.
	blockquote
		| ok but is this whole thing like for real? why are you putting the
		| word "experimental" everywhere like some undecided freak
	p.
		Well, both yes and no. Fig is not meant to be the "next big thing",
		the "react killer", or any of that stuff. It's an attempt to learn
		the insides of the modern JavaScript ecosystem, an exploration of
		my personal problem solving skillz and what could be built combining
		the two together.
		#[b I don't expect anyone to use fig seriously at this stage of development though.]
	blockquote who are you anyways?
	p.
		Just a random guy from the internet creating random open-source tools,
		you can checkout my website #[a(href='https://nikerino.com') here] if
		you want to. Let's move on to the next section!

