extends ../docs-base

block doc
	h1 Event listening
	p.
		To attach an event listener to an element in fig, simply set its #[b @event]
		attribute to a listener, where #[b event] is the name of the event you'd
		like to listen to.
	.__example
		.file
			.name app.js
			script(type='x-example').
				const fig = require('figjs')
				const app = fig()

				app.use(require('./Component.fig'))

				app.mount('#app', 'component')
		.file
			.name Component.fig
			script(type='x-example').
				template
					button(@click = clicked) Click me!

				script.
					export default (view, opts, emit) => {
						view.clicked = e => {
							alert('Button clicked!')
						}
					}
		.file
			.name index.html
			script(type='x-example').
				<div id='app'></div>
	p.
		A list of all available event names can be found on
		#[a(href='https://developer.mozilla.org/en-US/docs/Web/Events') MDN].
