extends ../docs-base

block doc
	h1 Event listening
	p.
		To attach an event listener to an element in fig, simply set its #[b @event]
		attribute to a listener, where #[b event] is the name of the event you'd
		like to listen to.

	include ../../examples/event-listening

	p.
		A list of all available event names can be found on
		#[a(href='https://developer.mozilla.org/en-US/docs/Web/Events') MDN].
