extends ../docs-base

block doc
	h1 Element referencing
	p.
		When developing your app, sometimes it is needed for fig to let other
		libraries/parts of the code manage the DOM inside your app. For this
		reason, fig provides a #[b +skip] mixin, which as the name suggests,
		forces fig to ignore that part of the DOM tree after initial render.
		The editor you see on this website uses this functionality to let
		#[a(href='https://codemirror.net/') CodeMirror] function properly.
	p Let's see an example!

	.__example
		.file
			.name app.js
			script(type='x-example').
				const fig = require('figjs')
				const app = fig()

				app.use(require('./Component.fig'))

				app.on('fig ready', () => {
					console.log(app.ref.thing)
				})

				app.mount('#app', 'component')
		.file
			.name Component.fig
			script(type='x-example').
				template
					+skip('thing')
						.skipped hi!

		.file
			.name index.html
			script(type='x-example').
				<div id='app'></div>

	p.
		If you open your developer console (F12 in most browsers), you should
		see an element being logged. Skipped elements are attached to the
		app instance's #[b .ref] property, with their names being determined by
		the variable passed to the #[b skip] mixin. For more complex usage, see
		the code editor's source code, #[a(href='#todo') here].
