extends ../docs-base

block doc
	h1 Conclusion
	p.
		If you're reading this, first off all - thank you very much for getting
		this far, it really means a lot to me.
	p.
		Fig.js is a project I've spent most of my recent free time on, working
		on it for a few hours almost everyday for the past three/four months.
		It was by far my biggest project I've worked on (almost) alone.
	p.
		It was a huge learning experience for me, not only in regards of pure
		coding, but also in managing time efficiently, learning how to focus
		on the important things, and how not to get distracted by how that one
		damn button styling looks like.
	p.
		Fig was heavily inspired by
		#[a(href='https://choo.io/') choo],
		#[a(href='https://vuejs.org/') vue],
		#[a(href='http://riotjs.com/') riot]
		and many others, the names of which I can't remember now.
	p.
		Please remember that this software is still in early development,
		so there are some bugs waiting to be squashed! You can submit PRs on
		GitHub (see how to contribute in the
		#[a(href='https://github.com/nikersify/fig/blob/master/readme.md') readme]),
		submit an #[a(href='https://github.com/nikersify/fig/issues') issue]
		with some steps of reproducing, or simply point me in the right
		direction - I'll try my best to fix it asap!
	p.
		That's it, bai! :]
